


<div class="banner text-white text-center d-flex flex-column align-items-center justify-content-center py-5"
     style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/846a9086-8a40-43e0-aa10-2fc7d6d73730/dc6erc1-e4a127f9-e6e8-4cc1-ae35-6b0971fd7544.png/v1/fill/w_1024,h_428,q_80,strp/avengers___infinity_war_banner___textless_by_mintmovi3_dc6erc1-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDI4IiwicGF0aCI6IlwvZlwvODQ2YTkwODYtOGE0MC00M2UwLWFhMTAtMmZjN2Q2ZDczNzMwXC9kYzZlcmMxLWU0YTEyN2Y5LWU2ZTgtNGNjMS1hZTM1LTZiMDk3MWZkNzU0NC5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.JZzvyiHsYJD1an0Hnmn1LUDotYEBKT_KzeHXjHhibiI'); background-size: cover; background-position: center; background-repeat: no-repeat;">

  <h1>All Movie Lists</h1>
  <p>Explore our collection of lists</p>
</div>



<div class="container my-3 px-0 ">
  <div class="row justify-content-between m-1">
      <%= link_to new_list_path, class: "text-decoration-none text-dark col-3" do %>
    <div class="button-17">Add a new list</div>
    <% end %>
  </div>



  <div class="cards mt-4">
    <% @lists.each do |list| %>
<div class="card-category list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.attached? ? cl_image_path(list.photo.key) : "https://image.tmdb.org/t/p/original/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg" %>')">

        <%= link_to list_path(list), class: "text-decoration-none text-light" do %>
        <div class=""><%= list.name %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
