<div class="banner text-white text-center d-flex flex-column align-items-center justify-content-center py-5"
     style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://www.thetokyochapter.com/wp-content/uploads/2019/01/cinema-japan-1440x810.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <h1><%= banner_title %></h1>
  <p><%= banner_subtitle %></p>
</div>
