<div class="banner bg-primary text-white text-center d-flex flex-column align-items-center justify-content-center py-5" style="height:400px">
  <h1><%= banner_title %></h1>
  <p><%= banner_subtitle %></p>
</div>
